{% extends 'base.html.twig' %}

{% block body %}
    {{ dump(comments) }}

    <h1>{{ title }}</h1>

    <h2>Comments ({{ comments|length }})</h2>
    <ul>
        {% for comment in comments %}
        <li>{{ comment }}</li>
        {% endfor %}
    </ul>

{% endblock %}